.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  transform: rotate(-90deg);
}

.flexbox .col {
  flex: 1;
}