{% load static %}

<html>

  <head>
    <link rel="stylesheet" type="text/css" href='{% static "/production/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "/production/bootstrap.min.css" %}'>
  </head>

  <body>
    <div class="container">
      <img class="header-logo" src="{% static '/production/trw_logo.jpg' %}">
      <div class="row justify-content-center">
        {% for order in orders %}
          <div class="work-order">
            <h4>{{ order.name }}</h4>

            <div class="work-order-progress-wrapper">
              {% for checkpoint in order.checkpoints.all %}
                <div class="{% if checkpoint.id in missed_checkpoints %}missed-checkpoint{% else %}checkpoint{% endif %}" style="left: {{ checkpoint.percent_of_total }}%">
                  <p class="checkpoint-goal lead">{{ checkpoint.goal }}</p>
                  <div class="checkpoint-marker" ></div>
                  <p class="checkpoint-date">{{ checkpoint.short_date }}</p>
                </div>
              {% endfor %}
              <div class="progress">
                <div class="progress-bar" style="background: {{ order.color }}; width: {{ order.percent_complete }}%" aria-valuemin="0" aria-valuenow="{{ order.current }}" aria-valuemax="{{ order.goal }}">{{ order.current }}</div>
              </div>
            </div>

            <div class="work-order-goal">{{ order.goal }}</div>
            <div class="work-order-date">{{ order.short_date }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>