{% load static %}

<html>

  <head>
    <link rel="stylesheet" type="text/css" href='{% static "/production/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "/production/bootstrap.min.css" %}'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src='{% static "/production/jquery.min.js" %}'></script>
    <script src='{% static "/production/jquery-ui.min.js" %}'></script>
    <script src="https://use.fontawesome.com/b06c553d43.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="trw-jumbotron" class="jumbotron">
        <div class="row">
          <div class="logo-wrapper col-6">
            <img class="logo pull-right" src="{% static '/production/logo.png' %}" />
          </div>
          <div class="legend col-6">
            <div class="swatch">
              <div class="stocked-swatch"></div><span>Stocked</span>
            </div>
            <div class="swatch">
              <div class="published-swatch"></div><span>Published</span>
            </div>
            <div class="swatch">
              <div class="qad-swatch"></div><span>QA'd</span>
            </div>
          </div>
          <button id="fade-control" type="button" class="btn btn-success" data-toggle="button">
            <i class="fa fa-repeat"></i>
          </button>
          <div id="slider"></div>
        </div>
      </div>
        {% for order in orders %}
          <div class="work-order row" data-left="{{ order.start_position }}" style="left: {{ order.start_position }}px; width: {{ order.width }}px">
            <h4 class="work-order-name">{{ order.name }}</h4>

            <div class="work-order-progress-wrapper">
              <div class="checkpoint" style="left: 0">
                <p class="checkpoint-date work-order-date">{{ order.start_date }}</p>
              </div>
              {% for checkpoint in order.checkpoints %}
                <div class="{% if checkpoint.id in missed_checkpoints %}missed-checkpoint a-checkpoint{% else %}a-checkpoint{% endif %}"
                    data-percent="{{ checkpoint.percent_of_total }}">
                  <p class="checkpoint-goal lead">{{ checkpoint.goal }}</p>
                  <div class="checkpoint-marker" ></div>
                  <p class="checkpoint-date">{{ checkpoint.short_date }}</p>
                </div>
              {% endfor %}
               <div class="checkpoint" data-left="{{ order.width }}"  style="left: {{ order.width }}px">
                  <p class="checkpoint-goal work-order-goal lead">{{ order.goal }}</p>
                  <div class="checkpoint-marker work-order-goal-marker" ></div>
                  <p class="checkpoint-date work-order-date">{{ order.stock_date }}</p>
                </div>
              <div class="progress" id="order-progress-{{ order.id }}" data-width="{{ order.width }}" style="width: {{ order.width }}px">
                <span class="flashing-progress-text"></span>
                {% if order.stocked %}
                  <div id="{{ order.id }}-stocked-progress" class="progress-bar rounded-bar" style="background: #005005; width: {{ order.percent_stocked }}%"
                      data-width="{{ order.percent_stocked }}">
                    <span class="progress-text stocked-text">{{ order.stocked }}</span>
                    <span class="progress-text verbose-text">{{ order.stocked }} stocked</span>
                  </div>
                {% endif %}
                {% if order.published and order.published != order.stocked %}
                  <div id="{{ order.id }}-published-progress" class="progress-bar {% if order.stocked == 0 %}rounded-bar{% endif %}" style="background: #338a3e; width: {{ order.percent_published }}%"
                       data-width="{{ order.percent_published }}">
                    <span class="progress-text published-text">{{ order.published }}</span>
                    <span class="progress-text verbose-text">{{ order.published }} published</span>
                  </div>
                {% endif %}
                {% if order.qad and order.qad != order.published %}
                  <div id="{{ order.id }}-qa-progress" class="progress-bar {% if order.stocked == 0 and order.published == 0 %}rounded-bar{% endif %}" style="background: #66bb6a; width: {{ order.percent_qad }}%"
                       data-width="{{ order.percent_qad }}">
                    <span class="progress-text qad-text">{{ order.qad }}</span>
                    <span class="progress-text verbose-text">{{ order.qad }} QA'd</span>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </body>

  <script>
    let doTheFade = false;

    $(function() {
      $( "#slider" ).slider({
        value: 15,
        max: 50,
        change:function(event, ui) {
          drawWorkOrders(ui.value)
        },
        classes: {
          "ui-slider": "highlight"
        }
      });
    });

    function drawWorkOrders(scale) {
      $('.progress').each(function(){
        let progress = $(this);
        let order = progress.parent().parent();
        order.animate({
          'left' : order.attr('data-left')*scale,
        }, 300);
        progress.animate({
          'width' : progress.attr('data-width')*scale,
        }, 300);
      });

      setTimeout(function(){
        $('.checkpoint').each(function(){
          let checkpoint = $(this);
          checkpoint.animate({
            'left': checkpoint.attr('data-left') * scale,
          }, 300);
        });

        $('.a-checkpoint').each(function(){
          let checkpoint = $(this);
          let checkpoint_percent = checkpoint.attr('data-percent');
          let order_progress_width = checkpoint.parent().find('.progress').width();
          let new_checkpoint_position = (order_progress_width * checkpoint_percent) / 100;
          checkpoint.animate({
            'left': new_checkpoint_position,
          }, 300);
        });

        $('.work-order-name').each(function() {
          let order_name = $(this);
          let order_progress_width = order_name.parent().find('.progress').width();
          $(order_name).parent().css('width', order_progress_width);
        })
      }, 300);
    }

    $('#fade-control').click(function (event) {
      if ($(this).hasClass('active')) {
        doTheFade = false;
        $(this).removeClass('active');
        $(this).find('.fa-repeat').removeClass('fa-spin');
        $('.progress-text').fadeIn("slow");
        $('.verbose-text').hide();
      } else {
        doTheFade = true;
        $(this).addClass('active');
        $(this).find('.fa-repeat').addClass('fa-spin');
          // cycle through this list forever
          var arr = [".stocked-text", ".published-text", ".qad-text"];
          (function recurse(counter) {
            var status = arr[counter];
            $('.progress-text').fadeOut("slow");
            $(status).parent().find('.verbose-text').fadeIn("slow");
            delete arr[counter];
            arr.push(status);
            setTimeout(function() {
              if (doTheFade) {
                recurse(counter + 1);
              }
            }, 2000);
          })(0);
      }
      document.activeElement.blur();
    });

    $( document ).ready(function() {
      drawWorkOrders(25);
    });
  </script>
</html>