{% load static %}

<html>

  <head>
    <link rel="stylesheet" type="text/css" href='{% static "/production/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "/production/bootstrap.min.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="logo-wrapper col-6">
          <img class="logo pull-right" src="{% static '/production/logo.png' %}" />
        </div>
        <div class="legend col-6">
          <div class="swatch">
            <div class="stocked-swatch"></div><span>Stocked</span>
          </div>
          <div class="swatch">
            <div class="qad-swatch"></div><span>QA'd</span>
          </div>
        </div>
      </div>
        {% for order in orders %}
          <div class="work-order row" style="left: {{ order.start_position }}px; width: {{ order.width }}px">
            <h4 class="work-order-name">{{ order.name }}</h4>

            <div class="work-order-progress-wrapper">
              <div class="checkpoint" style="left: 0">
                <p class="checkpoint-date work-order-date">{{ order.start_date }}</p>
              </div>
              {% for checkpoint in order.checkpoints %}
                <div class="{% if checkpoint.id in missed_checkpoints %}missed-checkpoint{% else %}checkpoint{% endif %}" style="left: {{ checkpoint.percent_of_total }}%">
                  <p class="checkpoint-goal lead">{{ checkpoint.goal }}</p>
                  <div class="checkpoint-marker" ></div>
                  <p class="checkpoint-date">{{ checkpoint.short_date }}</p>
                </div>
              {% endfor %}
               <div class="checkpoint" style="left: {{ order.width }}px">
                  <p class="checkpoint-goal work-order-goal lead">{{ order.goal }}</p>
                  <div class="checkpoint-marker work-order-goal-marker" ></div>
                  <p class="checkpoint-date work-order-date">{{ order.stock_date }}</p>
                </div>
              <div class="progress" style="width: {{ order.width }}px">
                {% if order.stocked %}
                  <div id="{{ order.id }}-stocked-progress" class="progress-bar" style="background: #005005;" data-width="{{ order.percent_stocked }}" aria-valuemin="0" aria-valuenow="0" aria-valuemax="{{ order.goal }}">{{ order.stocked }}</div>
                {% endif %}
                {% if order.qad and order.qad != order.stocked %}
                  <div id="{{ order.id }}-qa-progress" class="progress-bar" style="background: #7da453;" data-width="{{ order.percent_qad }}" aria-valuemin="0" aria-valuenow="{{ order.qad }}" aria-valuemax="{{ order.goal }}">{{ order.qad }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </body>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('.progress .progress-bar').each(function() {
        let bar = $(this);
        let target_percent = bar.attr("data-width");
        let current_percent = 0;

        var progress = setInterval(function() {
          if (current_percent>=target_percent) {
            clearInterval(progress);
          } else {
            current_percent +=1;
            bar.css('width', (current_percent)+'%');
          }
        }, 1);
      });
    }, 200);
  })
</script>
</html>