.workorder {
  padding: 20px;
  height: 100%;
  width: 225px;
  display: inline-grid;
  text-align: center;
  position: relative;
}

.vertical-track {
  position: relative;
  width: 60px;
  margin: auto auto 220px;
  height: calc(100% - 220px)!important;
}

.vertical-progress {
  position: absolute;
  width: 60px;
  bottom: 0px;
}

.today-status {
  margin-top: -30px;
}

.behind {
  color: #DC143C;
}

.ahead {
  color: #337147;
}

.bubble {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  position: absolute;
  color: white;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.valign {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.workorder-summary {
  position:absolute;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
  display: inherit;
  height: 80px;
  width: 100%;
}

.green {
  background: #337147;
}

.red {
  background: #DC143C;
}

.light-red {
  background-color: #EFBCBC;
}

.light-green {
  background-color: #B2D0B4;
}