.workorder {
  padding: 20px;
  height: 100%;
  width: 225px;
  display: inline-grid;
  text-align: center;
  position: relative;
}

.vertical-progress {
  height: 20px!important;
  margin: auto;
  width: 30px;
  height: calc(100% - 10em)!important;
  background-color: #3f51b5;
}

.bubble {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  color: white;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
}

.blue {
  background: #3f51b5;
}

.red {
  background: #DC143C;
}

.workorder-summary {
  transform: rotate(90deg);
  color: white;
}

.red-progress .MuiLinearProgress-barColorPrimary {
  background-color: #DC143C;
}

.red-progress.MuiLinearProgress-colorPrimary {
  background-color: #EFBCBC;
}

.blue-progress.MuiLinearProgress-colorPrimary {
  background-color: #90caf9;
}