.workorder {
  padding: 20px;
  height: 100%;
  width: 225px;
  display: inline-grid;
  text-align: center;
  position: relative;
}

.vertical-track {
  position: relative;
  width: 30px;
  margin: auto auto 160px;
  height: calc(100% - 220px)!important;
}

.vertical-progress {
  position: absolute;
  width: 30px;
  bottom: 0;
}
.bubble {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  color: white;
  left: 50%;
  bottom: -40px;
  transform: translate(-50%, -50%);
}

.valign {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.blue {
  background: #3f51b5;
}

.red {
  background: #DC143C;
}

.light-red {
  background-color: #EFBCBC;
}

.light-blue {
  background-color: #90caf9;
}