html, body {
  height: 100%;
}

.container {
  text-align: center;
  padding: 0 20px;
}

.header-logo {
  width: 25%;
}

.production-target {
  margin: auto;
  padding: 20px;
  position: relative;
  width: 100%;
}

.production-target-commitment-amount {
  padding: 0 0 20px;
  font-weight: bold;
  font-size: 18px;
}

.production-target-commitment-date {
  padding: 20px 0;
}

.work-order-progress-wrapper {
  position: relative;
  height: auto;
}

.work-order-checkpoint {
  position: absolute;
  top: 30px;
}

.work-order-goal {
  position: absolute;
  right: 0;
}

.progress {
  height: 30px!important;
  font-size: 24px!important;
}

.progress-bar {
  text-align: right!important;
  padding-right: 5px!important;
}