html, body {
  height: 100%;
  background: #fff3e0!important;
}

.container {
  text-align: center;
  padding: 0 20px;
}

.logo-wrapper {
  text-align: right;
  padding: 20px 0 0;
}
.logo {
  width: 40%;
}

.legend {
  text-align: left;
  margin: auto;
}

.swatch {
  display: flex;
  padding: 5px;
}

.swatch span {
 padding:  0 10px 5px
}

.qad-swatch {
  background: #7da453;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.stocked-swatch {
  background: #005005;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

#slider {
  width: 50%;
  margin: 20px auto 0;
  padding: 5px;
}

.work-order {
  margin: auto;
  padding: 30px 0;
  position: relative;
  width: 100%;
}

.work-order-name {
  margin: auto;
  padding-bottom: 5px;
}

.work-order-progress-wrapper {
  position: relative;
  height: auto;
  padding: 30px 0 0;
}

.checkpoint, .a-checkpoint {
  position: absolute;
}

.checkpoint-goal {
  top: -35px;
  position: absolute;
  font-size: 20px!important;
  left: -8px;
}

.checkpoint-date {
  top: 40px;
  position: absolute;
  left: -10px;
}

.checkpoint-marker {
  border-left: 2px solid black;
  border-radius: 10px;
  height: 50px;
  position: absolute;
  top: -10px;
}

.missed-checkpoint {
  position: absolute;
}

.missed-checkpoint .checkpoint-marker {
  border-left: 8px solid red;
}

.missed-checkpoint .checkpoint-goal {
  color: red;
}

.missed-checkpoint .checkpoint-date {
  color: red;
}

.work-order-goal {
  left: -17px;
  top: -45px;
  font-size: 24px!important;
}

.work-order-goal-marker {
  right: 0;
  height: 60px;
  top: -15px;
}

.work-order-date {
  top: 45px;
  left: -15px;
  font-size: 16px;
}

.progress {
  height: 30px!important;
  font-size: 16px!important;
  background-color: #ffffff!important;
  border: 1px solid #3B3B3B;
  border-bottom-left-radius: 15px!important;
  border-top-left-radius: 15px!important;
}

.progress-bar {
  text-align: right!important;
  padding-right: 5px!important;
}